*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #f7f7f7;
}
header{
    background: url('../images/bg-pattern-intro.svg') 32% 52%/200% no-repeat, linear-gradient(to right, #ff8f70, #ff4759);
    height: 80vh;
    border-bottom-left-radius: 17%;
    z-index: -100;
}
nav {
    display: flex;
    align-items: center;
    color: white;
    z-index: 100;
    height: 150px;
    justify-content: center;
}
.logo{
    font-size: 2.5rem;
    cursor:default;
    z-index: 100;
}
nav ul{
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-weight: bold;
}
.list-item {
    margin: 0px 20px;
    padding: 20px 0px;
    cursor: pointer;
    position: relative;
}
.list-item::after {
    content: "";
    background: url('../images/icon-arrow-light.svg') center center/cover no-repeat;
    position: absolute;
    top: 28px;
    left: 65px;
    width: 12px;
    height: 9px;
    transition: all 0.2s ease;
}
.item2::after{
    left: 77px;
}
nav ul ul {
    opacity: 0;
    visibility: hidden;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -19px;
    background: white;
    color: #565656;
    border-radius: 6px;
    padding: 20px;
    align-items: flex-start;
    box-shadow: 0px 0px 20px #0000003d;
}
.item2-ul {
    left: 77px;
}
.item3-ul {
    left: 188px;
}
nav ul ul li {
    margin: 3px;
    padding: 0px;
    cursor: pointer;
}
nav ul ul li:hover{
    color: black;
}
.item1-ul:hover, .item2-ul:hover, .item3-ul:hover{
    display: flex;
    opacity: 1;
    visibility: visible;
}
.item1:hover, .item2:hover, .item3:hover{
    text-decoration: underline;
}
.item1:hover::after, .item2:hover::after, .item3:hover::after{
    transform: rotate(-180deg);
}
.item1:hover+.item1-ul, .item2:hover+.item2-ul, .item3:hover+.item3-ul {
    display: flex;
    opacity: 1;
    visibility: visible;
    animation: hover 10s ease;
}

nav .nav-btn{
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
nav .login-btn{
    background: transparent;
    color: white;
}
nav .signup-btn{
    background: white;
    color: #ff4759;
}
nav .signup-btn:hover{
    background: #fa394d;
    color: white;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}
#checkbox, .hamburger{
    display: none;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70%;
    position: relative;
    /* z-index: 2; */
    text-align: center;
}
.detail h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.detail p{
    color: rgb(235, 230, 230);
}
.detail-btns{
    display: flex;
}
.detail-btns button{
    padding: 8px 15px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 20px 10px;
}
.start-for-free-btn{
    background: white;
    color: #ff4759;
    border: none;
}
.start-for-free-btn:hover{
    background: #fa394d;
    color: white;
}
.learn-more-btn{
    background:transparent;
    color: white;
    border: 2px solid white;
}
.learn-more-btn:hover{
    background: white;
    color: #fa394d;
}

/* Section1 start's here */

.section1>div, .section3>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0rem 4rem;
}
.section1>div>div[class=""], .section3>div>div[class=""] {
    display: flex;
    gap: 5rem 0rem;
    flex-direction: column;
}
.section1 h1{
    grid-area: heading;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 80px;
    color: #1f3f5b;
}
.intro{
    width: 35vw;
}
.intro1, .section3-intro1{
    margin-top: -5vh;
}
.intro h2{
    padding: 10px 0px;
    color: #1f3f5b;
}
.intro p{
    color: #010129;
}
.section1-image, .section3-image {
    overflow-x: hidden;
    margin-bottom: 8vh;
    width: 47vw;
    height: 137vh;
}

.section1-image{
    background: url('../images/illustration-editor-desktop.svg') left center/138% no-repeat;
}

/* Section2 start's here */

.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('../images/bg-pattern-circles.svg') -40% 110%/60% no-repeat #383955;
    height: 400px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.section2-intro{
    max-width: 40vw;
    color: white;
}
.section2-intro h2{
    margin: 10px 0px;
}
.section2-image {
    margin-top: 45px;
    width: 47vw;
}
.section2-image img {
    position: relative;
    width: 100%;
}

/* Section3 start's here */

.section3>div{
    justify-content: flex-start;
}

.section3-image{
    background: url('../images/illustration-laptop-desktop.svg') right center/140% no-repeat;
}

.section3-intro{
    /* margin-top: 80px; */
    width: 35vw;
}
.section3-intro h2{
    padding: 10px 0px;
    color: #1f3f5b;
}
.section3-intro p{
    color: #010129;
}

/* Footer start's here */

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    background: #24242c;
    color: white;
    border-top-right-radius: 100px;
}
footer ul{
    list-style: none;
}
footer ul li{
    cursor: pointer;
    color: #c8c8cb;
}
footer ul li:hover{
    text-decoration: underline;
}
footer ul li:first-child{
    cursor: text;
    color: white;
    margin: 20px 0px;
    font-weight: bold;
}
footer ul li:first-child:hover{
    text-decoration: none;
}
.attribution{
    padding: 12px 10px;
    color: #ff4759;
    text-align: center;
}
.attribution a{
    color: #140b0b;
}
